<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Backend Quote Generator</title>
    <style>
        body {
            background-color: #F3F3F3;
            padding: 50px 100px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            font-family: Arial, Helvetica, sans-serif;
        }
        .container{
            background-color: #ffffff;
            padding: 30px;
            border-radius: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            margin-bottom: 20px;
        }
        .container h1{
            color: #3C1874;
        }
        .container .input, .container .textarea{
            width: 100%;
            padding: 10px 12px;
            border: 1px solid #3C1874;
            outline: none;
            margin-bottom: 15px;
        }
        .container .submitBtn{
            padding: 10px 20px;
            border: none;
            outline: none;
            background-color: #DE354C;
            border-radius: 25px;
            color: #ffffff;
            cursor: pointer;
        }
        .quotesBox{
            background-color: #ffffff;
            padding: 30px;
            border-radius: 20px;
            width: 53%;
            margin-bottom: 20px;
        }
        .quotesBox h2{
            color: #3C1874;
        }
        .quotesBox h5{
            color:  #DE354C;
            float: right;
        }
        .updateBtn{
            padding: 10px 20px;
            border: none;
            outline: none;
            background-color: #0dd81e;
            border-radius: 25px;
            color: #ffffff;
            cursor: pointer;
            float: right;
        }
        .deleteBtn{
            padding: 10px 20px;
            border: none;
            outline: none;
            background-color: #e7d31c;
            border-radius: 25px;
            color: #ffffff;
            cursor: pointer;
            float: right;
            margin-right: 10px;
        }
        .updateBtn, .deleteBtn{
            visibility: hidden;
        }
    </style>
    
</head>

<body>
    <div class="container">
        <h1>Generate Your wonderful quote here.....</h1>
        <form class='form' action="/quotes" method="POST" name="form">
            <input class='input' placeholder="Enter Your Name" required autofocus type="text" name="name">
            <input class='input' placeholder="Quote ID" required  type="text" name="id">
            <textarea placeholder="Enter Your Quote" required name="quote" class="textarea" rows="3"></textarea>
            <button class='submitBtn' type="submit" id="submit">Submit</button>
            <button class='updateBtn' onclick="updateHandler()" id="update">Update</button>
            <button class='deleteBtn' id="delete" onclick="deleteHandler()">Delete</button>
        </form>
    </div>

    <!-- Loop through Quotes -->
    <% for(let quoteNumber = 0; quoteNumber < quotes.length; quoteNumber++) { %>
        <div class='quotesBox' id='quotesBox' onclick="quoteBoxHandler('<%= quoteNumber %>')">
            <h2><%= quotes[quoteNumber].id %></h2>
            <h2><%= quotes[quoteNumber].quote %></h2>
            <h5><%= quotes[quoteNumber].name %></h5>
        </div>
    <% } %>
    <script src='/main.js'></script>
</body>

</html>